body {
	background-color: #f8f8f8;
}

.container{
	width: 600px;
	margin: 0 auto;
}

.header {
	height: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.logo img{
	margin-left: 30px;
	margin-top: 15px;
	width: 150px;
	float: left;
}


.product_2 a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}

.center {
	text-align: center;
}

/*если наводишь на текст, а цвет хочешь поменять,
то сделай это так*/
.header a:hover {
	color: gray;
}

.images_index img{
	width: 300px;
	display:block;
	margin:auto;
}

.images_catalog a img{
	width: 220px;
	display:block;
	margin:auto;
}

.catalog1 {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

.short_description {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.detailliert_description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}	

.list {
	color: #700000;
	font-size: 17px;
	font-style: bold;
	line-height: 20px;
}

h1,
h3 {
	text-align: center;
}

p:first-letter {
	font-size: 25px;
	color: brown;
	font-family: Pompadur, 'Comic Sans MS', cursive;
}

input[type=text]{
   width:200px;
   height: 20px;
   	color: #000;
	font-size: 14px;
	font-weight: 400;
	background-color: #eaeaea;
	text-transform: capitalize;
}

input[type=E-mail]{
   width: 200px;
   height: 20px;
   	color: #000;
	font-size: 14px;
	font-weight: 400;
	background-color: #eaeaea;
	text-transform: capitalize;
}

input[type=E-mail]:focus{
   width:200px;
   height: 20px;
   	color: #700000;
	font-size: 14px;
	font-weight: 400;
	background-color: #cfc;
	text-transform: capitalize;
}

textarea,
select{
	color: #000;
	font-size: 14px;
	font-weight: 400;
	background-color: #eaeaea;
	text-transform: capitalize;
}

#first img {
	width: 240px; 
	outline: #eaeaea solid 3px;
}

#first img:hover {
	outline: none;
}

#second img {
	width: 240px; 
	outline: #617258 solid 3px;
}

#second img:hover {
	outline: none;
}

#third img {
	width: 240px; 
	outline: #F48E20 solid 3px;
}

#third img:hover {
	outline: none;
}

.table {
	border: 1px solid #000;
	width: 500px;
	height: 200px;
	border-spacing: 10px;
	border-collapse: collapse;
	margin: auto;
}

.table td {
	border: 1px solid darkgreen;
	padding-left: 10px;
	padding-top: 10px;
	vertical-align: middle;
	text-align: center;
}

.footer {
	background-color: #009999;
	height: 200px;
}

.copy {
	margin-top: 20px;
	margin-right: 40px;
	float: right;
	color: darkgray;
}